h1 {
    color: darkblue;
    font-size: 50px;
    font-style: oblique;
    font-family: "Helvetica Neue";
}
h2 {
    color: red;
    font-size: 30px;
    font-family: "Helvetica Neue";
    font-style: oblique;
}
.score {
    color:gray;
}
.gold {
    color:gold;
}
#gameLink {
    text-align: center;
    border:1px solid grey;
}
#greeting {
    position: absolute;
    left: 40%;
    top: 40%;
    background: #fff;
    width: 350px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: none;
}